@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

/*INICIO*/
.contenedor-inicio {
  overflow: hidden;
}

.navbar {
  background-color: #FFEFE7;
  height: 7rem;
}
.navbar a {
  font-size: 1.5rem;
  transition: all 0.312s;
}

.collapse {
  display: flex;
  justify-content: end;
  margin-right: 4rem;
}

.navbar-brand img {
  height: 7rem;
  margin-left: -1rem;
}

.navbar a:hover {
  transform: scale(1.0123);
}

#portada {
  background-image: url("../fotos/foto-portada.jpg");
  max-width: 100%;
  height: 40rem;
  overflow: hidden;
  text-align: center;
}
#portada h1 {
  margin-top: 15rem;
  font-size: 5rem;
}
#portada h2 {
  margin-bottom: 1rem;
}

.boton a {
  background-color: #ff8fab;
  border: #ff8fab;
  font-size: 1.5rem;
}
.boton a:hover {
  background-color: #fb6f92;
  border: #fb6f92;
}

.nosotras {
  display: flex;
  justify-content: center;
  gap: 8rem;
  overflow: hidden;
  margin: 10rem 0 10rem 0;
  height: 30rem;
}
.nosotras h2 {
  font-size: 3rem;
}
.nosotras p {
  font-size: 2rem;
  width: 40rem;
}
.nosotras img {
  height: 30rem;
}

.contenido-servicios {
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(255, 143, 171, 0.937254902), rgba(255, 143, 171, 0.7450980392));
  padding: 1.5rem;
  max-width: 100%;
  height: 70rem;
}

.servicios {
  overflow: hidden;
  margin-top: 5rem;
}
.servicios h2 {
  text-align: center;
  font-size: 3rem;
}
.servicios p {
  margin: 0 2rem;
  font-size: 2rem;
}

.cards {
  margin: 4rem 12rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 100px;
}
.cards img {
  height: 50rem;
}
.cards p {
  text-align: start;
}

.card h5 {
  text-align: center;
  font-size: 2rem;
  color: #9d8189;
}

.corporal img {
  height: 26rem;
}

.depilacion-laser img {
  height: 26rem;
}

/*DEPILACION*/
.contenedor-depilacion {
  display: grid;
  margin-top: 10rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 697px auto 430px;
  grid-template-areas: "laser laser laser" "ice ice ice" "titanium titanium titanium" "footer footer footer";
  gap: 5rem;
}

.depilacion {
  grid-area: laser;
  display: flex;
  align-content: center;
  flex-direction: column;
  margin: 1rem 8rem;
  overflow: hidden;
}
.depilacion h2 {
  text-align: center;
  font-size: 3rem;
}
.depilacion h3 {
  text-align: center;
  font-size: 2.2rem;
}
.depilacion img {
  height: 50rem;
  width: 50rem;
  position: relative;
  bottom: 37rem;
  left: 34rem;
  border-radius: 5rem 0.1rem 3rem 0.1rem;
  transition: ease 500ms;
}

.items-depilacion {
  align-self: center;
  width: 50rem;
  height: 90rem;
  margin-left: -1rem;
  font-size: 1.8rem;
  margin-top: 3rem;
  line-height: 7rem;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.507);
  opacity: 0;
  visibility: hidden;
  transition: ease 500ms;
}

.depilacion-2 h3 {
  text-align: center;
  font-size: 2.2rem;
}
.depilacion-2 img {
  height: 50rem;
  width: 50rem;
  position: absolute;
  top: 33rem;
  border-radius: 0.8rem;
}

.soprano-ice, .soprano-titanium {
  display: flex;
  grid-area: ice;
  flex-direction: row;
  margin: 1rem 0rem;
  background-color: bisque;
  max-width: 100%;
  height: 40rem;
}
.soprano-ice h2, .soprano-titanium h2 {
  width: 30rem;
  margin: 8rem;
}
.soprano-ice ul, .soprano-titanium ul {
  font-size: 1.8rem;
  margin: 5rem 9rem;
}
.soprano-ice img, .soprano-titanium img {
  width: 24rem;
  height: 30rem;
  margin: 8rem;
  margin-top: 2rem;
}

.soprano-titanium {
  grid-area: titanium;
  background-color: white;
}

.footer {
  grid-area: footer;
  background-color: bisque;
}

/*SPA-FACIAL*/
.contenedor-ozonoterapia {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin: 1rem 0 3rem 0;
  font-size: 2rem;
}
.contenedor-ozonoterapia img {
  height: 50rem;
  border-radius: 0 30% 30% 0;
}
.contenedor-ozonoterapia h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.contenedor-ozonoterapia p {
  text-align: justify;
  margin: 0rem 2rem 2rem 0rem;
}
.contenedor-ozonoterapia ul li {
  margin-left: 10rem;
}

.contenedor-lifting {
  display: flex;
  flex-direction: row-reverse;
}
.contenedor-lifting img {
  height: 40rem;
  border-radius: 30% 0 0 30%;
}

.texto-lifting {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 2rem;
}
.texto-lifting h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.contenedor-perfilado {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.imagen-cejas {
  margin-top: 4rem;
}
.imagen-cejas img {
  height: 40rem;
  border-radius: 0 30% 30% 0;
  width: 43rem;
}

.diseño-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem;
}
.diseño-texto h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
}

/*PRESOTERAPIA*/
.contenedor-presoterapia {
  margin-bottom: -30rem;
  background-color: #ffffff;
}

.fondo-presoterapia {
  background-image: url(../fotos/presoterapia.jpg);
  max-width: 100%;
  height: 40rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(50%);
  margin-top: 2rem;
}
.fondo-presoterapia h2 {
  position: relative;
  top: 15rem;
  left: 10rem;
  font-size: 5rem;
  color: #ffffff;
}

.texto-presoterapia p {
  text-align: justify;
  width: 50rem;
  margin: 2rem 5rem;
}

.beneficios {
  margin: 1rem 10rem;
}
.beneficios h2 {
  font-size: 3rem;
}
.beneficios li {
  font-size: 2rem;
  list-style: inside;
  list-style-type: georgian;
}

.video-presoterapia {
  position: relative;
  left: 70rem;
  bottom: 45rem;
}
.video-presoterapia video {
  height: 50rem;
  width: 50rem;
}

.fondo-velaslim-tesla {
  max-width: 100%;
  height: 40rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(50%);
  background-image: url("../fotos/vela-tesla.jpg");
  margin-bottom: 2rem;
}
.fondo-velaslim-tesla h2 {
  position: relative;
  top: 15rem;
  left: 10rem;
  font-size: 5rem;
  color: #ffffff;
}

.textos-tesla-vesla {
  display: flex;
  flex-direction: column;
  margin: 2rem 3rem -22rem 3rem;
  max-height: 170rem;
}

.texto-vela {
  width: 150%;
}

.velaslim-texto, .teslagen-texto {
  display: flex;
  flex-direction: row;
  text-align: justify;
}
.velaslim-texto li, .teslagen-texto li {
  font-size: 2rem;
  list-style: inside;
  list-style-type: decimal;
  line-height: 4rem;
}
.velaslim-texto ul, .teslagen-texto ul {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.imagen-vela {
  position: relative;
  bottom: 22rem;
  margin-bottom: -10rem;
}
.imagen-vela img {
  height: 50rem;
  width: 50rem;
  border-radius: 1rem 0.4rem 1rem 0.4rem;
}

.imagen-tesla {
  position: relative;
  bottom: 34rem;
}
.imagen-tesla img {
  height: 50rem;
  width: 50rem;
  border-radius: 1rem 0.4rem 1rem 0.4rem;
}

/*FOOTER*/
.footer {
  background-color: #FFEFE7;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.titulo-footer h3 {
  text-align: center;
  margin-top: 2rem;
}

.derechos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.derechos img {
  height: 3.5rem;
}

/*MEDIAQUERIES*/
/*INICIO*/
@media (max-width: 1069px) and (min-width: 817px) {
  .contenido-servicios {
    height: auto;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
@media (max-width: 816px) and (min-width: 725px) {
  #portada h1 {
    font-size: 2rem;
  }
  #portada h2 {
    font-size: 1.8rem;
  }
  .nosotras h2 {
    font-size: 1.8rem;
  }
  .nosotras p {
    font-size: 1.5rem;
  }
  .nosotras img {
    height: 23rem;
  }
  .contenido-servicios {
    height: auto;
  }
  .servicios h2 {
    font-size: 1.8rem;
  }
  .servicios p {
    font-size: 1.5rem;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .titulo-footer h5 {
    font-size: 1.2rem;
  }
  .derechos {
    align-items: center;
  }
  .derechos p {
    font-size: 1.2rem;
  }
  .derechos img {
    height: 1rem;
  }
}
@media (max-width: 725px) and (min-width: 300px) {
  #portada h1 {
    font-size: 2rem;
  }
  #portada h2 {
    font-size: 1.8rem;
  }
  .nosotras {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75rem;
  }
  .nosotras h2 {
    font-size: 1.8rem;
    text-align: center;
  }
  .nosotras p {
    font-size: 1.5rem;
  }
  .nosotras img {
    height: 30rem;
  }
  .contenido-servicios {
    height: auto;
  }
  .servicios h2 {
    font-size: 1.8rem;
  }
  .servicios p {
    font-size: 1.5rem;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .titulo-footer h5 {
    font-size: 1.2rem;
  }
  .derechos {
    align-items: center;
  }
  .derechos p {
    font-size: 1.2rem;
  }
  .derechos img {
    height: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
