@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body h2 {
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}
body h3 {
  font-size: 2.7rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}
body ul {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
}
body p {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
}

/*INICIO*/
.contenedor-inicio {
  overflow: hidden;
}

.navbar {
  background-color: #FFEFE7;
  height: 7rem;
}
.navbar a {
  font-size: 1.5rem;
  transition: all 0.312s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu.show {
  background-color: #FFEFE7;
}

.navbar-brand img {
  height: 7rem;
  margin-left: -1rem;
}

.navbar a:hover {
  transform: scale(1.0123);
}

#portada {
  background-image: url("../fotos/foto-portada.jpg");
  max-width: 100%;
  height: 40rem;
  overflow: hidden;
  text-align: center;
}
#portada h1 {
  margin-top: 5rem;
  margin-bottom: -3rem;
  font-size: 15rem;
  font-family: "Passions Conflict", cursive;
  font-weight: 200;
}
#portada h2 {
  margin-bottom: 1rem;
  font-family: "Marcellus", serif;
}
#portada h3 {
  margin-bottom: 2rem;
  font-family: "Marcellus", serif;
}

.boton a {
  background-color: #ff8fab;
  border: #ff8fab;
  font-size: 1.5rem;
}
.boton a:hover {
  background-color: #fb6f92;
  border: #fb6f92;
}

.nosotras {
  display: flex;
  margin: 10rem 0;
  justify-content: center;
  gap: 2rem;
}

.nosotras-texto {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 10rem 9rem;
}
.nosotras-texto p {
  text-align: justify;
}

.nosotras-img {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}
.nosotras-img img {
  height: 30rem;
}

.contenido-servicios {
  overflow: hidden;
  background: linear-gradient(to bottom, #FFEFE7, rgba(255, 143, 171, 0.7450980392));
  padding: 1.5rem;
  max-width: 100%;
  height: 70rem;
}

.servicios {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 5rem;
}
.servicios h2 {
  text-align: center;
  font-size: 3rem;
}
.servicios p {
  margin: 0 2rem;
  font-size: 2rem;
}

.contenido-servicios {
  height: 50rem;
}

.servicios-texto h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 7rem;
}

.contenedor-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.img-hover {
  overflow: hidden;
  position: relative;
  width: 350px;
  height: 250px;
}
.img-hover img {
  width: 350px;
  height: 250px;
  border-radius: 5%;
}
.img-hover h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 1;
  color: #ff8fab;
  background-color: #ffefe7;
  border: solid 0.2rem #fb6f92;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 0.5rem 0.5rem;
}

.img-hover:hover h2 {
  transform: translate(-50%, -50%) scale(1);
  transition: all 300ms;
}

.img-hover:before, .img-hover:after {
  content: "";
  height: 400px;
  width: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 143, 171, 0.7803921569);
  opacity: 0.6;
  transition: all 300ms;
  border: 0.4rem solid wheat;
}

.img-hover:before {
  transform: rotate(0deg) translateY(-550px) translateX(0);
}

.img-hover:after {
  transform: rotate(0deg) translateY(550px) translateX(-160px);
}

.img-hover:hover:before {
  transform: rotate(0deg) translateY(-300px) translateX(-5px);
}

.img-hover:hover:after {
  transform: rotate(0deg) translateY(150px) translateX(-60px);
}

/*DEPILACION*/
.contenedor-depilacion {
  margin-top: 10rem;
}

.depilacion {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.depilacion-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  margin: -2rem 4rem 2rem 4rem;
}
.depilacion-texto h2 {
  font-size: 3rem;
}
.depilacion-texto h3 {
  font-size: 2.2rem;
}
.depilacion-texto p {
  margin: 1.5rem 0;
}

.img-depi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-depi img {
  height: 40rem;
  border-radius: 15% 0 15% 0;
}

.soprano-ice, .soprano-titanium {
  display: flex;
  background-color: bisque;
  margin: 10rem 0rem;
  height: 70rem;
}

.ice-texto, .titanium-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin: 0 5rem;
}
.ice-texto h2, .titanium-texto h2 {
  font-size: 2.4rem;
}
.ice-texto li, .titanium-texto li {
  font-size: 2rem;
}

.ice-img, .titanium-img {
  margin-top: 10rem;
}

.soprano-titanium {
  background-color: white;
}

.contenedor-depilacionContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.contenedor-depilacionContacto h3 {
  font-size: calc(1.3rem + 0.6vw);
}
.contenedor-depilacionContacto p {
  font-size: 2rem;
}

.contenido-depilacionContacto {
  display: flex;
  gap: 1.5rem;
}

.botonDepilacion {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 4rem;
}

/*SPA-FACIAL*/
.contenedor-ozonoterapia {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin: 1rem 0 3rem 0;
  font-size: 2rem;
}
.contenedor-ozonoterapia img {
  height: 50rem;
  border-radius: 0 30% 30% 0;
}
.contenedor-ozonoterapia h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.contenedor-ozonoterapia p {
  text-align: justify;
  margin: 0rem 2rem 2rem 0rem;
}
.contenedor-ozonoterapia ul li {
  margin-left: 10rem;
}

#boton-ozonoterapia {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.contenedor-lifting {
  display: flex;
  flex-direction: row-reverse;
}
.contenedor-lifting img {
  height: 40rem;
  border-radius: 30% 0 0 30%;
}

.texto-lifting {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 2rem;
}
.texto-lifting h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.contenedor-perfilado {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.imagen-cejas {
  margin-top: 4rem;
}
.imagen-cejas img {
  height: 40rem;
  border-radius: 0 30% 30% 0;
  width: 43rem;
}

.diseño-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem;
}
.diseño-texto h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
}

/*PRESOTERAPIA*/
.contenedor-presoterapia {
  margin-bottom: -30rem;
  background-color: #ffffff;
}

.fondo-presoterapia {
  background-image: url(../fotos/presoterapia.jpg);
  max-width: 100%;
  height: 40rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(50%);
  margin-top: 2rem;
}
.fondo-presoterapia h2 {
  position: relative;
  top: 15rem;
  left: 10rem;
  font-size: 5rem;
  color: #ffffff;
}

.contenedor-textos-presoterapia {
  display: flex;
  flex-direction: column;
  margin: 35rem 3rem 5rem 3rem;
  height: auto;
  align-items: center;
  gap: 1rem;
}

.texto-presoterapia {
  display: flex;
  flex-direction: column;
  margin-bottom: -10rem;
}
.texto-presoterapia h2 {
  text-align: justify;
}
.texto-presoterapia ul {
  font-size: 2rem;
}
.texto-presoterapia ul li {
  font-size: 2rem;
}

.video-presoterapia {
  display: flex;
  justify-content: center;
  align-content: center;
}
.video-presoterapia video {
  height: 60rem;
  width: 60rem;
}

.fondo-velaslim {
  max-width: 100%;
  height: 40rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(50%);
  background-image: url("../fotos/vela-tesla.jpg");
  margin-bottom: 2rem;
}
.fondo-velaslim h2 {
  position: relative;
  top: 15rem;
  left: 10rem;
  font-size: 5rem;
  color: #ffffff;
}

.textos-vela, .contenedor-textoTesla {
  display: flex;
  margin: 3rem 2rem 7rem 2rem;
  gap: 3rem;
}

.velaslim-texto, .teslagen-texto {
  text-align: justify;
}
.velaslim-texto h2, .teslagen-texto h2 {
  text-align: justify;
}
.velaslim-texto ul, .teslagen-texto ul {
  font-size: 2rem;
}
.velaslim-texto ul li, .teslagen-texto ul li {
  font-size: 2rem;
}

.imagen-vela img, .imagen-podologia img, .imagen-tesla img {
  height: 40rem;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.671) 0.1rem 0.2rem;
}

.contenido-tesla {
  display: flex;
  flex-direction: column;
}

.fondo-tesla {
  max-width: 100%;
  height: 40rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(50%);
  background-image: url("../fotos/fondo-tesla.jpg");
  margin-bottom: 2rem;
}
.fondo-tesla h2 {
  position: relative;
  top: 15rem;
  left: 10rem;
  font-size: 5rem;
  color: #ffffff;
}

.contenedor-textoTesla {
  flex-direction: row-reverse;
}

.contenido-podologia {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.fondo-podologia {
  max-width: 100%;
  height: 40rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(50%);
  background-image: url("../fotos/podologia.webp");
  margin-bottom: 2rem;
}
.fondo-podologia h2 {
  position: relative;
  top: 15rem;
  left: 10rem;
  font-size: 5rem;
  color: #ffffff;
}

.contenedor-textoPodologia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

/*ALQUILER*/
.contenedor-general {
  background: url("../fotos/fondo-alquiler.jpg");
  background-size: cover;
  background-repeat: none;
  height: auto;
  object-fit: cover;
}

.contenedor-alquiler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100rem;
  gap: 2rem;
}
.contenedor-alquiler h2 {
  text-align: center;
  color: #000;
  font-size: 3rem;
  margin-top: 4rem;
}
.contenedor-alquiler ul {
  font-size: 2.5rem;
  color: #000;
}

.contenedor-jornadas {
  display: flex;
  justify-content: space-around;
  gap: 15rem;
}

.contenido-jornadas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.76);
  box-shadow: 0.12rem 0.1rem 0.1rem whitesmoke;
  border-radius: 5rem;
  width: 50rem;
  height: 60rem;
  padding: 2rem 5rem;
  gap: 2rem;
}

#boton-alquiler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.contenedor-tratamientosReductores {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 4rem 0 0 0;
}

.contenedor-carruselTratamientos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contenedor-jornadasCarrusel {
  width: 30rem;
}

.titulo-tratamientosReductores h2 {
  font-size: 2.5rem;
}

.titulo-tratamientosReductores h2 {
  text-align: center;
}

.carrusel img {
  border-radius: 2rem;
}

.carousel-inner, .slide1 {
  width: 50%;
  height: 50rem;
}

.carousel-item img {
  width: 60rem;
  height: 50rem;
}

#boton-alquiler2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

/*FOOTER*/
.footer {
  background-color: #FFEFE7;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.titulo-footer h3 {
  text-align: center;
  margin-top: 2rem;
}

.derechos {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2rem;
}
.derechos img {
  height: 3.5rem;
}

/*MEDIAQUERIES*/
/*INICIO*/
@media (max-width: 1075px) and (min-width: 817px) {
  .contenido-servicios {
    height: auto;
  }
  .contenedor-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
}
@media (max-width: 816px) and (min-width: 768px) {
  #portada h1 {
    font-size: 2rem;
  }
  #portada h2 {
    font-size: 1.8rem;
  }
  .nosotras h2 {
    font-size: 1.8rem;
  }
  .nosotras p {
    font-size: 1.5rem;
  }
  .nosotras img {
    height: 23rem;
  }
  .contenedor-img {
    display: flex;
    flex-direction: column;
  }
  .titulo-footer h5 {
    font-size: 1.2rem;
  }
  .derechos {
    align-items: center;
  }
  .derechos p {
    font-size: 1.2rem;
  }
  .derechos img {
    height: 1rem;
  }
}
@media (max-width: 768px) and (min-width: 320px) {
  #portada h1 {
    font-size: 12rem;
  }
  #portada h2 {
    font-size: 1.8rem;
  }
  #portada h3 {
    font-size: 1.8rem;
  }
  .navbar {
    z-index: 1;
    background-color: #ffefe7;
  }
  .navbar-brand img {
    height: 6rem;
  }
  .nosotras {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nosotras h2 {
    font-size: 1.8rem;
    text-align: center;
  }
  .nosotras p {
    font-size: 1.5rem;
    text-align: justify;
  }
  .nosotras img {
    height: 30rem;
  }
  .nosotras-texto {
    margin: 0 2rem;
  }
  .nosotras-img {
    display: flex;
    justify-content: center;
  }
  .contenido-servicios {
    height: auto;
  }
  .contenedor-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .servicios h2 {
    font-size: 1.8rem;
  }
  .servicios p {
    font-size: 1.5rem;
    text-align: justify;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .titulo-footer h5 {
    font-size: 1.2rem;
  }
  .derechos {
    align-items: center;
  }
  .derechos p {
    font-size: 1.2rem;
  }
  .derechos img {
    height: 1rem;
  }
  .contenedor-alquiler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 62.5rem;
    gap: 2rem;
  }
  .contenedor-alquiler h2 {
    text-align: center;
    color: #000;
    font-size: 2.5rem;
  }
  .contenedor-alquiler ul {
    font-size: 1.7rem;
    color: #000;
  }
  .contenido-jornadas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.76);
    box-shadow: 0.12rem 0.1rem 0.1rem whitesmoke;
    border-radius: 5rem;
    width: 30rem;
    height: 45rem;
    padding: 3rem 5rem;
    gap: 2rem;
  }
}
@media (max-width: 300px) and (min-width: 100px) {
  #portada h1 {
    font-size: 2rem;
  }
  #portada h2 {
    font-size: 1.8rem;
  }
  .nosotras {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75rem;
  }
  .nosotras h2 {
    font-size: 1.8rem;
    text-align: center;
  }
  .nosotras p {
    font-size: 1.5rem;
  }
  .nosotras img {
    height: 30rem;
  }
  .contenido-servicios {
    height: auto;
  }
  .servicios h2 {
    font-size: 1.8rem;
  }
  .servicios p {
    font-size: 1.5rem;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .titulo-footer h5 {
    font-size: 1.2rem;
  }
  .derechos {
    align-items: center;
  }
  .derechos p {
    font-size: 1.2rem;
  }
  .derechos img {
    height: 1rem;
  }
}
/*DEPILACION LASER*/
@media (max-width: 1023px) and (min-width: 838px) {
  .ice-texto, .titanium-texto {
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 838px) and (min-width: 495px) {
  .ice-texto, .titanium-texto {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }
  .depilacion-texto h2 {
    font-size: 2.5rem;
  }
  .depilacion-texto p {
    font-size: 1.8rem;
  }
  .img-depi img {
    height: 30rem;
  }
  .soprano-ice, .soprano-titanium {
    height: 50rem;
  }
  .ice-texto li, .titanium-texto li {
    font-size: 1.8rem;
  }
  .ice-img img, .titanium-img img {
    height: 30rem;
    margin-top: 5rem;
  }
  .soprano-titanium {
    height: 30rem;
  }
  .titanium-text li {
    font-size: 1.8rem;
    text-align: justify;
  }
  .titanium-img img {
    height: 30rem;
    margin-top: -6rem;
  }
}
@media (max-width: 607px) and (min-width: 320px) {
  .ice-texto, .titanium-texto {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }
  .depilacion-texto h2 {
    font-size: 2rem;
  }
  .depilacion-texto h3 {
    font-size: 1.8rem;
  }
  .depilacion-texto p {
    font-size: 1.6rem;
  }
  .img-depi img {
    height: 30rem;
  }
  .soprano-ice, .soprano-titanium {
    height: 60rem;
  }
  .ice-texto h2, .titanium-texto h2 {
    font-size: 2rem;
  }
  .ice-texto li, .titanium-texto li {
    font-size: 1.5rem;
  }
  .ice-img, .titanium-img {
    display: flex;
    align-items: center;
  }
  .ice-img img, .titanium-img img {
    height: 30rem;
  }
  .soprano-titanium {
    height: auto;
  }
  .titanium-texto h2 {
    font-size: 2rem;
  }
  .titanium-texto li {
    font-size: 1.8rem;
    text-align: justify;
  }
  .titanium-img {
    display: flex;
    align-items: center;
  }
  .titanium-img img {
    height: 30rem;
  }
  .derechos {
    align-items: center;
  }
  .derechos p {
    font-size: 1.2rem;
  }
  .derechos img {
    height: 1rem;
  }
  .contenido-depilacionContacto {
    align-items: center;
  }
  .contenido-depilacionContacto p {
    font-size: 1.2rem;
  }
  .contenido-depilacionContacto a {
    font-size: 1.2rem;
  }
}
@media (max-width: 495px) and (min-width: 100px) {
  .ice-texto, .titanium-texto {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }
  .depilacion-texto h2 {
    font-size: 1.8rem;
  }
  .depilacion-texto h3 {
    font-size: 1.6rem;
  }
  .depilacion-texto p {
    font-size: 1.4rem;
  }
  .img-depi img {
    height: 28rem;
  }
  .soprano-ice, .soprano-titanium {
    height: 65rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .ice-texto h2, .titanium-texto h2 {
    font-size: 1.8rem;
  }
  .ice-texto li, .titanium-texto li {
    font-size: 1.3rem;
  }
  .ice-img, .titanium-img {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
  }
  .ice-img img, .titanium-img img {
    height: 28rem;
    margin-top: -10rem;
  }
  .soprano-titanium {
    height: auto;
    gap: 1rem;
  }
  .titanium-texto h2 {
    font-size: 1.8rem;
  }
  .titanium-texto li {
    font-size: 1.3rem;
    text-align: justify;
  }
  .titanium-img {
    display: flex;
    align-items: center;
  }
  .titanium-img img {
    height: 28rem;
  }
  .contenedor-depilacionContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .contenido-depilacionContacto {
    display: flex;
    align-items: flex-start;
  }
  .contenido-depilacionContacto p {
    font-size: 1rem;
  }
  .contenido-depilacionContacto a {
    font-size: 0.7rem;
  }
}
/*TRATAMIENTO FACIAL*/
@media (max-width: 836px) and (min-width: 100px) {
  .contenedor-ozonoterapia {
    display: flex;
    flex-direction: column-reverse;
    margin: 5rem 2rem 10rem 2rem;
  }
  .contenedor-ozonoterapia img {
    height: 32rem;
    width: 27rem;
    margin-top: 1rem;
    border-radius: 2% 2%;
  }
  .contenedor-ozonoterapia h2 {
    font-size: 1.6rem;
  }
  .contenedor-ozonoterapia p {
    font-size: 1.4rem;
  }
  .contenedor-ozonoterapia ul {
    margin: 1.2rem -2rem;
    font-size: 1.5rem;
  }
  .contenedor-ozonoterapia ul li {
    font-size: 1.2rem;
    margin-left: 2rem;
  }
  .contenedor-gif {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-lifting {
    margin-bottom: 10rem;
  }
  .contenedor-lifting img {
    height: 15rem;
    width: 15rem;
    margin-top: 3rem;
  }
  .contenedor-lifting h2 {
    font-size: 1.6rem;
  }
  .contenedor-lifting p {
    font-size: 1.4rem;
    text-align: justify;
  }
  .contenedor-perfilado {
    margin-bottom: 10rem;
  }
  .contenedor-perfilado img {
    height: 15rem;
    width: 15rem;
    margin-top: -3rem;
  }
  .contenedor-perfilado h2 {
    font-size: 1.6rem;
    margin-left: -2rem;
  }
  .contenedor-perfilado p {
    font-size: 1.4rem;
    margin-left: -2rem;
    text-align: justify;
  }
  .derechos {
    display: flex;
    align-items: baseline;
  }
  .contenedor-tratamientoFacial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .contenido-tratamientoFacial {
    display: flex;
    align-items: flex-start;
  }
  .contenido-tratamientoFacial h2 {
    font-size: 1.2rem;
  }
  .contenido-tratamientoFacial p {
    font-size: 1rem;
  }
  .contenido-tratamientoFacial a {
    font-size: 0.7rem;
  }
  .titulo-tratamientoFacial h2 {
    font-size: 1.2rem;
  }
  .contenido-liftingFooter {
    display: flex;
    align-items: flex-start;
  }
  .contenido-liftingFooter p {
    font-size: 1rem;
  }
  .contenido-liftingFooter a {
    font-size: 0.7rem;
  }
  .titulo-liftingFooter h2 {
    font-size: 1.2rem;
  }
}
/*TRATAMIENTOS REDUCTORES*/
@media (max-width: 1075px) and (min-width: 649px) {
  .texto-presoterapia h2 {
    font-size: 1.4rem;
  }
  .texto-presoterapia ul {
    font-size: 2rem;
  }
  .texto-presoterapia ul li {
    font-size: 2rem;
  }
  .textos-vela, .contenedor-textoTesla {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .velaslim-texto h2, .teslagen-texto h2 {
    font-size: 1.4rem;
  }
  .velaslim-texto ul, .teslagen-texto ul {
    font-size: 2rem;
  }
  .velaslim-texto ul li, .teslagen-texto ul li {
    font-size: 2rem;
    text-align: justify;
  }
  .imagen-vela img, .imagen-tesla img, .imagen-podologia img {
    height: 35rem;
  }
  .teslagen-texto h2 {
    font-size: 1.4rem;
  }
  .teslagen-texto ul {
    font-size: 2rem;
  }
  .teslagen-texto ul li {
    font-size: 2rem;
  }
  .imagen-tesla img {
    height: 35rem;
  }
}
@media (max-width: 649px) and (min-width: 300px) {
  .fondo-presoterapia {
    background-size: cover;
    background-position-x: right;
  }
  .fondo-presoterapia h2 {
    font-size: 3rem;
  }
  .texto-presoterapia p {
    text-align: justify;
  }
  .video-presoterapia {
    margin-top: 10rem;
  }
  .video-presoterapia video {
    height: 20rem;
  }
  .fondo-velaslim {
    background-size: cover;
    background-position-x: left;
  }
  .fondo-velaslim h2 {
    font-size: 3rem;
  }
  .texto-presoterapia h2 {
    font-size: 1.2rem;
  }
  .texto-presoterapia ul {
    font-size: 2rem;
  }
  .texto-presoterapia ul li {
    font-size: 2rem;
  }
  .textos-vela, .contenedor-textoTesla {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .velaslim-texto h2, .teslagen-texto h2 {
    font-size: 1.2rem;
  }
  .velaslim-texto ul, .teslagen-texto ul {
    font-size: 2rem;
  }
  .velaslim-texto ul li, .teslagen-texto ul li {
    font-size: 2rem;
    text-align: justify;
  }
  .imagen-vela img, .imagen-tesla img, .imagen-podologia img {
    height: 25rem;
  }
  .fondo-tesla {
    background-size: cover;
    background-position-x: 50%;
  }
  .fondo-tesla h2 {
    font-size: 3rem;
  }
  .teslagen-texto h2 {
    font-size: 1.2rem;
  }
  .teslagen-texto ul {
    font-size: 2rem;
  }
  .teslagen-texto ul li {
    font-size: 2rem;
  }
  .imagen-tesla img {
    height: 25rem;
  }
  .contenido-podologia {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .fondo-podologia h2 {
    font-size: 2.5rem;
  }
  .podologia-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .podologia-texto ul {
    font-size: 2rem;
  }
  .podologia-texto ul li {
    font-size: 2rem;
  }
  .imagen-podologia img {
    height: 20rem;
  }
}
/*ALQUILER*/
@media (max-width: 816px) and (min-width: 768px) {
  #portada h1 {
    font-size: 2rem;
  }
  #portada h2 {
    font-size: 1.8rem;
  }
  .nosotras h2 {
    font-size: 1.8rem;
  }
  .nosotras p {
    font-size: 1.5rem;
  }
  .nosotras img {
    height: 23rem;
  }
  .contenedor-img {
    display: flex;
    flex-direction: column;
  }
  .titulo-footer h5 {
    font-size: 1.2rem;
  }
  .derechos {
    align-items: center;
  }
  .derechos p {
    font-size: 1.2rem;
  }
  .derechos img {
    height: 1rem;
  }
}
@media (max-width: 768px) and (min-width: 320px) {
  .contenedor-general {
    background: url("../fotos/fondo-alquiler.jpg");
    background-size: cover;
    background-repeat: none;
    background-position: 50%;
    height: auto;
    object-fit: cover;
  }
  .contenedor-alquiler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120rem;
    gap: 2rem;
  }
  .contenedor-alquiler h2 {
    text-align: center;
    color: #000;
    font-size: 2.5rem;
  }
  .contenedor-alquiler ul {
    font-size: 1.7rem;
    color: #000;
  }
  .contenedor-jornadas {
    display: flex;
    flex-direction: column;
  }
  .contenido-jornadas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.76);
    box-shadow: 0.12rem 0.1rem 0.1rem whitesmoke;
    border-radius: 5rem;
    width: 30rem;
    height: 45rem;
    padding: 3rem 5rem;
    gap: 2rem;
  }
  .contenedor-jornadasCarrusel {
    width: 14rem;
  }
  .titulo-tratamientosReductores h2 {
    font-size: 2rem;
  }
  .carousel-inner, .slide1 {
    width: 30rem;
    height: 20rem;
  }
  .carousel-item {
    display: flex;
    align-items: center;
  }
  .carousel-item img {
    width: 30rem;
    height: 20rem;
  }
}

/*# sourceMappingURL=styles.css.map */
