* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

.background-image {
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
}

/*INICIO*/
.contenedor-inicio {
  overflow: hidden;
}

.navbar {
  background-color: #fcd5ce;
  height: 7rem;
}
.navbar a {
  font-size: 1.5rem;
}

.navbar-brand img {
  height: 6rem;
}

.navbar a:hover {
  color: rgb(0, 0, 0);
}

.navegador {
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
}

#portada {
  background-image: url("../fotos/foto-portada.jpg");
  max-width: 100%;
  height: 40rem;
  overflow: hidden;
  text-align: center;
}
#portada h1 {
  margin-top: 15rem;
  font-size: 5rem;
}
#portada h2 {
  margin-bottom: 1rem;
}

.boton a {
  background-color: #ff8fab;
  border: #ff8fab;
  font-size: 1.5rem;
}
.boton a:hover {
  background-color: #fb6f92;
  border: #fb6f92;
}

.nosotras {
  overflow: hidden;
  margin: 10rem 20rem;
  text-align: start;
  height: 30rem;
}
.nosotras h2 {
  font-size: 3rem;
}
.nosotras p {
  font-size: 2rem;
  width: 40rem;
}
.nosotras img {
  position: relative;
  left: 60rem;
  bottom: 22rem;
  height: 33rem;
}

.contenido-servicios {
  overflow: hidden;
  background-color: #ff8fab;
  padding: 1.5rem;
  max-width: 100%;
  height: 70rem;
}

.servicios {
  overflow: hidden;
  margin-top: 5rem;
}
.servicios h2 {
  text-align: center;
  font-size: 3rem;
}
.servicios p {
  margin: 0 2rem;
  font-size: 2rem;
}

.cards {
  margin: 4rem 22rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 100px;
  height: 10rem;
}
.cards img {
  height: 50rem;
}
.cards p {
  text-align: center;
}

.card h5 {
  text-align: center;
  font-size: 2rem;
  color: #9d8189;
}

.corporal img {
  height: 26rem;
}

.depilacion-laser img {
  height: 26rem;
}

/*DEPILACION*/
.contenedor-depilacion {
  display: grid;
  margin-top: 10rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 697px auto 430px;
  grid-template-areas: "laser laser laser" "ice ice ice" "titanium titanium titanium";
  gap: 5rem;
}

.depilacion {
  grid-area: laser;
  display: flex;
  align-content: center;
  flex-direction: column;
  margin: 1rem 8rem;
}
.depilacion h2 {
  text-align: center;
  font-size: 3rem;
}
.depilacion h3 {
  text-align: center;
  font-size: 2.2rem;
}
.depilacion img {
  height: 50rem;
  width: 50rem;
  position: relative;
  bottom: 37rem;
  left: 34rem;
  border-radius: 0.8rem;
  transition: ease 500ms;
}

.items-depilacion {
  align-self: center;
  width: 50rem;
  height: 90rem;
  margin-left: -1rem;
  font-size: 1.8rem;
  margin-top: 3rem;
  line-height: 7rem;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.507);
  opacity: 0;
  visibility: hidden;
  transition: ease 500ms;
}

.depilacion-2 h3 {
  text-align: center;
  font-size: 2.2rem;
}
.depilacion-2 img {
  height: 50rem;
  width: 50rem;
  position: absolute;
  top: 33rem;
  border-radius: 0.8rem;
}

.soprano-ice, .soprano-titanium {
  display: flex;
  grid-area: ice;
  flex-direction: row;
  margin: 1rem 0rem;
  background-color: bisque;
  max-width: 100%;
  height: 40rem;
}
.soprano-ice h2, .soprano-titanium h2 {
  width: 30rem;
  margin: 8rem;
}
.soprano-ice ul, .soprano-titanium ul {
  font-size: 1.8rem;
  margin: 5rem 9rem;
}
.soprano-ice img, .soprano-titanium img {
  width: 24rem;
  height: 30rem;
  margin: 8rem;
  margin-top: 2rem;
}

.soprano-titanium {
  grid-area: titanium;
  background-color: white;
}

/*FOOTER*/
.pagos h5 {
  margin: 3rem 9rem;
  font-size: 2rem;
}
.pagos img {
  height: 5rem;
  margin: -2rem -6rem 0rem 9rem;
}

.derechos {
  display: flex;
  margin: 2rem -6rem 0rem 9rem;
  font-size: 1.3rem;
}
.derechos img {
  height: 3rem;
}

/*# sourceMappingURL=styles.css.map */
