/*ALQUILER*/
.contenedor-general{
    background: url('../fotos/fondo-alquiler.jpg');
    background-size: cover;
    background-repeat: none;
    height: auto;
    object-fit: cover;
}
.contenedor-alquiler{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100rem;
    gap: 2rem;
    h2{
        text-align: center;
        color: #000;
        font-size: 3rem;
        margin-top: 4rem;
    }
    ul{
        font-size: 2.5rem;
        color: #000;
    }
}
.contenedor-jornadas{
    display: flex;
    justify-content: space-around;
    gap: 15rem;
}
.contenido-jornadas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.76);
    box-shadow: .12rem .1rem .1rem whitesmoke;
    border-radius: 5rem;
    width:50rem;
    height: 60rem;
    padding: 2rem 5rem;
    gap: 2rem;
}

#boton-alquiler{
    @include contacto-centrado;
    margin-bottom: 2rem;
}
.contenedor-tratamientosReductores{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin:4rem 0 0 0;
}
.contenedor-carruselTratamientos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.contenedor-jornadasCarrusel{
    width: 30rem;
}
.titulo-tratamientosReductores{
    h2{
        font-size: 2.5rem;
    }
}

.titulo-tratamientosReductores{
    h2{
        text-align: center;
    }
}

.carrusel{
    img{
        border-radius: 2rem;
    }
}


.carousel-inner{
    width: 50%;
    height: 50rem;
}
.slide1{
    @extend .carousel-inner;
}
.carousel-item{
    img{
        width: 60rem;
        height: 50rem;
    }
}
#boton-alquiler2{
    @include contacto-centrado;
    margin-bottom:2rem;
}