/*ALQUILER*/
.contenedor-general{
    background: url('../fotos/fondo-alquiler.jpg');
    background-size: cover;
    background-repeat: none;
    height: auto;
    object-fit: cover;
}
.contenedor-alquiler{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 62.5rem;
    gap: 2rem;
    h2{
        text-align: center;
        color: #000;
        font-size: 3rem;
    }
    ul{
        font-size: 2.5rem;
        color: #000;
    }
}

.contenido-jornadas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.76);
    box-shadow: .12rem .1rem .1rem whitesmoke;
    border-radius: 5rem;
    width:50rem;
    height: 40rem;
    padding: 2rem 5rem;
    gap: 2rem;
}



