/*ALQUILER*/
.contenedor-general{
    background: url('../fotos/fondo-alquiler.jpg');
    background-size: cover;
    background-repeat: none;
    height: auto;
}
.contenedor-alquiler{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
    h2{
        text-align: center;
        color: #000;
        font-size: 3rem;
    }
    ul{
        font-size: 2rem;
        color: #000;
    }
}

.contenido-jornadas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.76);
    box-shadow: .12rem .1rem .1rem whitesmoke;
    border-radius: 5rem;
    width:50rem;
    height: 35rem;
    padding: 2rem 5rem;
}

.contenedor-pagos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}
.serviciosYpago{
    background-color: rgba(255, 255, 255, 0.767);
}
.pagar{
    display: flex;
    a{
        font-size: 1.5rem;
        color: #000;
    }
}

.btn-pagos{
    background-color: bisque !important;
    border: wheat solid .2rem !important;
}

