/*DEPILACION*/

.contenedor-depilacion{
    display: grid;
    margin-top: 10rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 697px auto 430px
    ;
    grid-template-areas: 
    "laser laser laser"
    "ice ice ice"
    "titanium titanium titanium"
    "footer footer footer";
    gap: 5rem;
}

.depilacion{
    grid-area: laser;
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 1rem 8rem;
    overflow: hidden;
    h2{
        text-align: center;
        font-size: 3rem;
    }
    h3{
        text-align: center;
        font-size: 2.2rem;
    }
    img{
        height: 50rem;
        width: 50rem;
        position: relative;
        bottom: 37rem;
        left: 34rem;
        border-radius: 5rem .1rem 3rem .1rem;
        transition: ease 500ms;
    }

}
.items-depilacion{
    align-self: center;
    width: 50rem;
    height: 90rem;
    margin-left:-1rem;
    font-size: 1.8rem ;
    margin-top: 3rem;
    line-height: 7rem;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.507);
    opacity: 0;
    visibility: hidden;
    transition: ease 500ms;
    
}


.depilacion-2{
    h3{
        text-align: center;
        font-size: 2.2rem;
    }
    img{
        height: 50rem;
        width: 50rem;
        position: absolute;
        top: 33rem;
        border-radius: .8rem;
        
    }
   
}

.soprano-ice{
    display: flex;
    grid-area: ice;
    flex-direction: row;
    margin: 1rem 0rem;
    background-color: bisque;
    max-width: 100%;
    height: 40rem;
    h2{
        width: 30rem;
        margin: 8rem;
    }

    ul{
        font-size: 1.8rem;
        margin: 5rem 9rem;
    }
    img{
        width: 24rem;
        height: 30rem;
        margin: 8rem;
        margin-top: 2rem;
    }
}

.soprano-titanium{
    @extend .soprano-ice;
    grid-area: titanium;
    background-color: white;
}

.footer{
    grid-area: footer;
    background-color: bisque;
    
}