/*DEPILACION*/

.contenedor-depilacion{
    margin-top: 10rem;
}

.depilacion{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.depilacion-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    margin: -2rem 4rem 2rem 4rem;
    h2{
        @include texto-h2;
    }
    h3{
        font-size: 2.2rem;
    }
    p{
        margin: 1.5rem 0;
    }
}

.img-depi{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 40rem;
        border-radius: 15% 0 15% 0;
    }
}

.soprano-ice{
    display: flex;
    background-color: bisque;
    margin: 10rem 0rem;
    height: 70rem;
}

.ice-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin: 0 5rem;
    h2{
        font-size: 2.4rem;
    }
    li{
        @include li;
    }
}
.ice-img{
    margin-top: 10rem
}
.soprano-titanium{
    @extend .soprano-ice;
    background-color: #ffff;
}

.titanium-texto{
    @extend .ice-texto;
}

.titanium-img{
    @extend .ice-img;
}

.contenedor-depilacionContacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    h3{
        font-size: calc(1.3rem + .6vw);
    }
    p{
        font-size: 2rem;
    }
}

.contenido-depilacionContacto{
    display: flex;
    gap: 1.5rem;
}

.botonDepilacion{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 4rem;
}