/*DEPILACION*/

.soprano-ice{
    margin: 10rem 3rem;
    h2{
        text-align: center;
        font-size: 3.5rem;
        margin-bottom: 4rem;
    }
    h3{
        font-size: 2.3rem;
        margin-bottom: 1.5rem;
    }
    p{
        width: 60rem;
        text-align: justify;
    }
    img{
        position: relative;
        left: 80rem;
        bottom: 38rem;
    }
}
