/*FOOTER*/

.pagos{
    
    h5{
        margin: 3rem 9rem;
        font-size: 2rem;
    }
    img{
        height: 5rem;
        margin: -2rem -6rem 0rem 9rem;
    }
}

.derechos{
    img{
        height: 2rem;
    }
    display: flex;
    margin: 2rem -6rem 0rem 9rem;
    font-size: 1.3rem;
}