/*FOOTER*/
.footer{
    background-color: #FFEFE7;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.titulo-footer{
    h3{
        text-align: center;
        margin-top: 2rem;
    }
}
.derechos{
    img{
        height: 3.5rem;
    }
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2rem;
}

