/*INICIO*/

.contenedor-inicio{
    overflow: hidden;
}
.navbar{
    background-color: #FFEFE7;
    height: 7rem;
    a{
        font-size: 1.5rem;
        transition: all .312s;
    }
    
}
.collapse{
    display: flex;
    justify-content: end;
    margin-right: 4rem;
}
.navbar-brand{
    img{
        height: 7rem;
        margin-left: -1rem;
    }
}
.navbar a:hover{
    transform: scale(1.0123);
}


#portada{
    background-image: url("../fotos/foto-portada.jpg");
    max-width: 100%;
    height: 40rem;
    overflow: hidden;
    text-align: center;
    h1{
        margin-top: 15rem;
        font-size: 5rem;
    }
    h2{
        margin-bottom: 1rem;
    }
    
}

.boton {
    
    a{
        background-color: #ff8fab;
        border: #ff8fab;
        font-size: 1.5rem;
    }
    a:hover{
        background-color: #fb6f92;
        border: #fb6f92;
    }
}

.nosotras{
    display: flex;
    margin: 10rem 0;
    justify-content: center;
    gap: 2rem;
}
.nosotras-texto{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10rem 9rem;
    p{
        text-align: justify;
    }
}
.nosotras-img{
    display: flex;
    align-items: center;
    margin: 0 2rem;
    img{
        height: 30rem;
    }
}
.contenido-servicios{
    overflow: hidden;
    background:linear-gradient(to bottom,#ff8fabef,#ff8fabbe);
    padding: 1.5rem;
    max-width: 100%;
    height: 70rem;
}
.servicios{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 5rem;
    h2{
        text-align: center;
        font-size: 3rem;
    }
    p{
        margin: 0 2rem;
        font-size: 2rem;
    }

}

.cards{
    img{
        height: 50rem;
    }
    margin: 4rem 12rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 100px;
    p{
        text-align: start;
    }
    
}

.card{
    h5{
        text-align: center;
        font-size: 2rem;
        color: #9d8189;
    }
    
}


.corporal{
    img{
        height: 26rem;
    }
}

.depilacion-laser{
    img{
        height: 26rem;
    }
}