/*MEDIAQUERIES*/

/*INICIO*/

@media (max-width:1069px) and (min-width:817px){
    .contenido-servicios{
        height: auto;
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

}

@media (max-width:816px) and (min-width:768px){
    #portada{
        h1{
            font-size: 2rem;
        }
        h2{
            font-size: 1.8rem;
        }
    }
    .nosotras{
        h2{
            font-size: 1.8rem;
        }
        p{
            font-size: 1.5rem;
        }
        img{
            height: 23rem;
        }
    }
    .contenido-servicios{
        height: auto;
    }
    .servicios{
        h2{
            font-size: 1.8rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .titulo-footer{
        h5{
            font-size: 1.2rem;
        }

    }
    .derechos{
        align-items: center;
        p{
            font-size: 1.2rem;
        }
        img{
            height: 1rem;
            
        }
    }
}

@media (max-width:768px) and (min-width:320px){
    #portada{
        h1{
            font-size: 2rem;
        }
        h2{
            font-size: 1.8rem;
        }
    }
    .navbar-brand{
        img{
            height: 6rem;
        }
    }
    .nosotras{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-size: 1.8rem;
            text-align: center;          
        }
        p{
            font-size: 1.5rem;
            text-align: justify;         
        }
        img{
            height: 30rem;
            
        }
    }
    .nosotras-texto{
        margin: 0 2rem;
    }
    .nosotras-img{
        display: flex;
        justify-content: center;
    }
    .contenido-servicios{
        height: auto;
    }
    .servicios{
        h2{
            font-size: 1.8rem;
        }
        p{
            font-size: 1.5rem;
            text-align: justify;
        }
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .titulo-footer{
        h5{
            font-size: 1.2rem;
        }

    }
    .derechos{
        align-items: center;
        p{
            font-size: 1.2rem;
        }
        img{
            height: 1rem;
            
        }
    }
}

@media (max-width:300px) and (min-width:100px){
    #portada{
        h1{
            font-size: 2rem;
        }
        h2{
            font-size: 1.8rem;
        }
    }
    .nosotras{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 75rem;
        h2{
            font-size: 1.8rem;
            text-align: center;          
        }
        p{
            font-size: 1.5rem;           
        }
        img{
            height: 30rem;
            
        }
    }
    .contenido-servicios{
        height: auto;
    }
    .servicios{
        h2{
            font-size: 1.8rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .titulo-footer{
        h5{
            font-size: 1.2rem;
        }

    }
    .derechos{
        align-items: center;
        p{
            font-size: 1.2rem;
        }
        img{
            height: 1rem;
            
        }
    }
}

/*DEPILACION LASER*/

@media (max-width:1023px) and (min-width:838px){
    .ice-texto{
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width:838px) and (min-width:495px){
    .ice-texto{
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }
    .depilacion-texto{
        h2{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.8rem;
        }
    }
    .img-depi{
        img{
            height: 30rem;
        }
    }
    .soprano-ice{
        height: 50rem;
    }
    .ice-texto{
        li{
            font-size: 1.8rem;
        }
    }
    .ice-img{
        img{
            height: 30rem;
            margin-top: 5rem;
        }
    }
    .soprano-titanium{
        height: 30rem;
    }
    .titanium-text{
        li{
            font-size: 1.8rem;
            text-align: justify;
        }
    }
    .titanium-img{
        img{
            height: 30rem;
            margin-top: -6rem;
        }
    }
}

@media (max-width:607px) and (min-width:320px){
    .ice-texto{
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }
    .depilacion-texto{
        h2{
            font-size: 2rem;
        }
        h3{
            font-size: 1.8rem;
        }
        p{
            font-size: 1.6rem;
        }
    }
    .img-depi{
        img{
            height: 30rem;
        }
    }
    .soprano-ice{
        height: 60rem;
    }
    .ice-texto{
        h2{
            font-size: 2rem;
        }
        li{
            font-size: 1.5rem;
        }
    }
    .ice-img{
        display: flex;
        align-items: center;
        img{
            height: 30rem;
        }
    }
    .soprano-titanium{
        height: 60rem;
    }
    .titanium-texto{
        h2{
            font-size: 2rem;
        }
        li{
            font-size: 1.8rem;
            text-align: justify;
        }
    }
    .titanium-img{
        display: flex;
        align-items: center;
        img{
            height: 30rem;
        }
    }
}

@media (max-width:838px) and (min-width:495px){
    .ice-texto{
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }
    .depilacion-texto{
        h2{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.8rem;
        }
    }
    .img-depi{
        img{
            height: 30rem;
        }
    }
    .soprano-ice{
        height: 50rem;
    }
    .ice-texto{
        li{
            font-size: 1.8rem;
        }
    }
    .ice-img{
        img{
            height: 30rem;
            margin-top: 5rem;
        }
    }
    .soprano-titanium{
        height: 30rem;
    }
    .titanium-text{
        li{
            font-size: 1.8rem;
            text-align: justify;
        }
    }
    .titanium-img{
        img{
            height: 30rem;
            margin-top: -6rem;
        }
    }
}

@media (max-width:495px) and (min-width:320px){
    .ice-texto{
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }
    .depilacion-texto{
        h2{
            font-size: 1.8rem;
        }
        h3{
            font-size: 1.6rem;
        }
        p{
            font-size: 1.4rem;
        }
    }
    .img-depi{
        img{
            height: 28rem;
        }
    }
    .soprano-ice{
        height: 60rem;
    }
    .ice-texto{
        h2{
            font-size: 1.8rem;
        }
        li{
            font-size: 1rem;
        }
    }
    .ice-img{
        display: flex;
        align-items: center;
        img{
            height: 28rem;
        }
    }
    .soprano-titanium{
        height: 60rem;
    }
    .titanium-texto{
        h2{
            font-size: 1.8rem;
        }
        li{
            font-size: 1rem;
            text-align: justify;
        }
    }
    .titanium-img{
        display: flex;
        align-items: center;
        img{
            height: 28rem;
        }
    }
}