/*PRESOTERAPIA*/

.contenedor-presoterapia{
    margin-bottom: -30rem;
    background-color: #ffffff;
}
.fondo-presoterapia{
    background-image:  url(../fotos/presoterapia.jpg);
    max-width: 100%;
    height: 40rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(50%);
    margin-top: 2rem;
    h2{
        position: relative;
        top: 15rem;
        left: 10rem;
        font-size: 5rem;
        color: #ffffff;
    }
}

.contenedor-textos-presoterapia{
    display: flex;
    flex-direction: column;
    margin: 35rem 3rem 5rem 3rem;
    height: auto;
    align-items: center;
    gap: 1rem;
}
.texto-presoterapia{
    display: flex;
    flex-direction: column;
    margin-bottom: -10rem;
    h2{
        text-align: justify;
    }
    ul{
        font-size: 2rem;
    }
    ul li{
        font-size: 2rem;
    }
}

.video-presoterapia{
    display: flex;
    justify-content: center;
    align-content: center;
    video{
        height: 60rem;
        width:60rem;
    }
}

.fondo-velaslim{
    @include fondo-tratamientos;
    background-image: url('../fotos/vela-tesla.jpg');
    margin-bottom: 2rem;
    h2{
        position: relative;
        top: 15rem;
        left: 10rem;
        font-size: 5rem;
        color: #ffffff;
    }
}

.textos-vela{
    display: flex;
    margin: 3rem 2rem 7rem 2rem;
    gap: 3rem;
}

.velaslim-texto{
    text-align: justify;
    h2{
        text-align: justify;
    }
    ul{
        font-size: 2rem;
    }
    ul li{
        font-size: 2rem;
    }
}

.imagen-vela{
    img{
        height: 40rem;
        border-radius: 10%;
        box-shadow: rgba(0, 0, 0, 0.671) .1rem .2rem;
    }
}

.contenido-tesla{
    display: flex;
    flex-direction: column
}
.fondo-tesla{
    @include fondo-tratamientos;
    background-image: url('../fotos/fondo-tesla.jpg');
    margin-bottom: 2rem;
    h2{
        position: relative;
        top: 15rem;
        left: 10rem;
        font-size: 5rem;
        color: #ffffff;
    }
}
.contenedor-textoTesla{
    @extend .textos-vela;
    flex-direction: row-reverse;
}
.teslagen-texto{
    @extend .velaslim-texto;
}

.imagen-tesla{
    @extend .imagen-vela;
}
.contenido-podologia{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.fondo-podologia{
    @include fondo-tratamientos;
    background-image: url('../fotos/podologia.webp');
    margin-bottom: 2rem;
    h2{
        position: relative;
        top: 15rem;
        left: 10rem;
        font-size: 5rem;
        color: #ffffff;
    }
}

.contenedor-textoPodologia{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.imagen-podologia{
    @extend .imagen-vela;
}